<div class="shop_bar clearfix">
    <div class="shop_product_count">
        <span>{{produtos.length}}</span> Produtos Encontrados
    </div>
    <div class="shop_sorting">
        <span>Sort by:</span>
        <ul>
            <li>
                <span class="sorting_text">
                    Mais Avaliados
                    <i class="fas fa-chevron-down">
                    </i>
                </span>

                <ul>
                    <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Mais Avaliados</li>
                    <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>name</li>
                    <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price" }'>price</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="product_grid">
    <div class="product_grid_border"></div>
   
    <!-- Product Item -->
    <div ng-repeat="p in produtos" style="max-width:25%;display:inline-grid;vertical-align:top;width:25%">
        <div class="product_item is_new" ng-click="verProduto(p.IdProduto)" style="width:80%">
            <div class="product_border" style="right:-31px"></div>
            <div class="product_image d-flex flex-column align-items-center justify-content-center">
                <img width="140" src="{{p.Foto}}" alt="">
            </div>
            <div class="product_content">
                <div class="product_price">R${{p.Preco}}</div>
                <div class="product_name">
                    <div>
                        <a href="#" tabindex="0" style="word-break:break-word;white-space:normal">{{p.Nome}}</a>
                    </div>
                </div>
            </div>
            <div class="product_fav">
                <i class="fas fa-heart"></i>
            </div>
            <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
            </ul>
        </div>
    </div>
    </div>
