

    <div class="modal-header">
            <h2 class="modal-title">{{edicao?'Edição de Produtos':'Inclusão de Produtos'}}</h2>
    </div>

    <div class="modal-body">

        <form name="cadastroForm">
            <div class="col-lg-12 form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" ng-model="prod.Nome" name="nome" required />
            </div>
            <div class="col-lg-12 form-group">
                <label>Descrição:</label>
                <textarea type="text" class="form-control" ng-model="prod.Descricao" name="descricao" required ></textarea>
            </div>
            <div class="col-lg-12 form-group">
                <label>Marca:</label>
                <input type="text" class="form-control" ng-model="prod.Marca" name="descricao" required />
            </div>
            <div class="col-lg-12  form-group">
                <label>Preço:</label>
                <input type="number" class="form-control" name="preco" ng-model="prod.Preco" required />
            </div>
            <div class="col-lg-12  form-group">
                <label>Quantidade:</label>
                <input type="number" name="senha" ng-model="prod.Quantidade" class="form-control" required />
            </div>
            <div class="col-lg-12  form-group">
                <label>Imagem:</label>
                <input type="text" name="senha" ng-model="prod.Foto" class="form-control" required />
            </div>
        </form>
        
    </div>
    <div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()" >Confirmar</button>
            <button class="btn btn-default" type="button" ng-click="cancel()" >Cancelar</button>
    </div>
