.linha-grid-selecionada{
color: white;
background-color:#71bdff
}


thead, tbody, tr, td, th { display: block; }

tr:after {
content: ' ';
display: block;
visibility: hidden;
clear: both;
}

thead th {
height: 58px;
/*text-align: left;*/
}

tbody {
height: 500px;
overflow-y: auto;
}

thead {
/* fallback */
}


tbody td, thead th {
width: 62.2%;
float: left;
}